body{
    background-color: rgba(53, 212, 212, 0.397);
}

.nav{
    display: flex;
    justify-content: center;
    background-color: rgba(53, 212, 212, 0.795);
}

a{
    color: black;
    font-weight: bold;
}

.row{
    display: flex;
    justify-content: center;
    margin: 5%;
}

.col-sm-7{
    text-align: center;
    background-color: rgba(53, 212, 212, 0.795);;
}
