@keyframes anim {
    0% {
        background-color: rgba(52, 180, 180, 0.795);
    }

    25% {
        background-color: rgba(27, 238, 238, 0.795);
    }

    50% {
        background-color: rgba(49, 170, 170, 0.795);
    }

    75% {
        background-color: rgba(34, 235, 235, 0.795);
    }

    100% {
        background-color: rgba(51, 173, 173, 0.795);
    }
}


body {
    animation-name: anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

h1 {
    text-align: center;
    margin-top: 5%;
    animation-name: moveLeft;
    animation-duration: 3s;
    
}

@keyframes moveLeft {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-0%);
    }
}


a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    
}


.titulo {
    margin-top: 5%;
    text-align: center;
    animation-name: moveRight;
    animation-duration: 3s;
}

@keyframes moveRight {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}



.opcion {
    margin: 3%;
    text-align: center;
}


.opciones {
    display: flex;
    justify-content: space-around;
    margin: 3%;
    box-shadow: 2px 4px 10px;
    background-color: rgba(53, 212, 212, 0.795);
    animation-name: moveUp;
    animation-duration: 3s;
}



@keyframes moveUp {
    from {
        transform: translateY(150%);
    }

    to {
        transform: translateY(0%);
    }
}


@keyframes escala {

    0% {
        transform: scale(0.3);
    }

    100% {
        transform: scale(1);
    }
}

.odo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5%;
    text-decoration: none;
    animation-name: escala;
    animation-duration: 3s;
}

.pac {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5%;
    animation-name: escala;
    animation-duration: 4s;
}

.tur {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5%;
    animation-name: escala;
    animation-duration: 5s;
}